{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Son Goku</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, mollitia sequi. Dolores, impedit. Dolorem cupiditate quos consequatur quibusdam itaque debitis recusandae quo, mollitia commodi illum est odit neque eos quisquam.</p>
    </div>
    <div class="col-2">
        <img src="assets/img/goku-saludando.jpeg" alt="img-thumbnail">
    </div>

</div>



{{> footer }}